@{
    ViewBag.Title = "Home Page";
}

<body ng-app="steamSearch" ng-controller="homeController" ng-init="init()">

    <nav class="show-on-small hide-on-med-and-up">
        <div class="nav-wrapper  ">
            <a href="#!" class="brand-logo shadows-font">Steam Search</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="~/Content/camera-lens-2115826.jpg">
                </div>
                <a href="#user"><img class="circle" src="{{steamService.userData.avatarfull}}"></a>
                <a href="#name"><span class="white-text name">{{steamService.userData.realname}}</span></a>

            </div>
        </li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>


    <div class="jumbotron  text-center jumbo-title">
        <h1 id="title" class="shadows-font">Steam Search <i class="fab fa-steam"></i></h1>

        <div class="container">
            <div class="row s12">
                <form ng-submit="steamService.GetSteamUserInfo(steamService.steamId)">
                    <input type="text" style="color:white" id="search"
                           placeholder="Find By Username or SteamId..." ng-model="steamService.steamId" />
                    <button class="waves-effect waves-light btn">Search</button>

                </form>
            </div>
        </div>
    </div>
    <div flex>
        <div class="container" ng-show="steamService.dataLoaded !=null">
            <div class="valign-wrapper center-align row " flex ng-show="steamService.dataLoaded == false">
                <div class="col s12">
                    <div class="preloader-wrapper big active ">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3" ng-show="steamService.dataLoaded == true">
                <ul class="tabs">
                    <li class="tab col s3">
                        <a class="nav-link " id="navUser" ng-class="menuState == 'navUser' ? 'active' : ''  " ng-click="navClicked('navUser')">User</a>
                    </li>
                    <li class="tab col s3">
                        <a class="nav-link" id="navRecent" ng-class="menuState == 'navRecent' ? 'active' : ''  " ng-click="navClicked('navRecent')">Recent Games</a>
                    </li>
                    <li class="tab col s3">
                        <a class="nav-link" id="navFriends" ng-class="menuState == 'navFriends' ? 'active' : ''  " ng-click="navClicked('navFriends')">Friends</a>
                    </li>
                </ul>


            </div>
            <div ng-switch="menuState" ng-show="steamService.dataLoaded == true">

                <div class="row" ng-switch-when="navRecent">

                    <div class="col s12 m3" ng-repeat="game in steamService.recentGames">
                        <div class="card hoverable">
                            <div class="card-image">
                                <img class="materialboxed" src="https://steamcdn-a.akamaihd.net/steam/apps/{{game.appid}}/header.jpg">
                            </div>
                            <div class="card-content">

                                <p>
                                    Time Played 2 Weeks : {{(game.playtime_2weeks / 60).toFixed(2)}} Hours
                                </p>
                                <p>
                                    Time Played : {{(game.playtime_forever / 60).toFixed(2)}} Hours
                                </p>
                            </div>
                            <div class="card-action">
                                <a href="https://store.steampowered.com/app/{{game.appid}}/" target="_blank">View in store</a>
                            </div>
                        </div>
                    </div>



                </div>
                <div ng-switch-when="navUser">
                    <div class="row card hoverable" style="padding:25px">
                        <div class="col s12 m3">
                            <div class="card-image">
                                <img src="{{steamService.userData.avatarfull}}" alt="avatar" />
                            </div>
                        </div>
                        <div class="col s12 m9">
                            <div class="card-content">
                                <h4>Username : <a href="{{steamService.userData.profileurl}}" target="_blank">{{steamService.userData.personaname}}</a></h4>
                                <h4>Name : {{steamService.userData.realname}}</h4>
                                <h4>{{steamService.ownedGames.length}} Games Owned</h4>

                            </div>

                        </div>
                    </div>
                    <h4 class="mt-3">Owned Games</h4>
                    <input type="text" placeholder="Filter Games" ng-model="steamService.OwnedGamesFilter" />
                    <div class="row">

                        <div class="col s12 m3" ng-repeat="game in steamService.ownedGames | filter:{ name: steamService.OwnedGamesFilter } |orderBy:'-playtime_forever'" ng-show="game.playtime_forever > 0">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img class="materialboxed" src="https://steamcdn-a.akamaihd.net/steam/apps/{{game.appid}}/header.jpg">
                                </div>
                                <div class="card-content">

                                    <p>
                                        Time Played : {{(game.playtime_forever / 60).toFixed(2)}} Hours
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="https://store.steampowered.com/app/{{game.appid}}/" target="_blank">View in store</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row center-align" ng-switch-when="navFriends">

                    <div class=" col l3  s12 m6">
                        <input type="text" placeholder="Filter Friends" ng-model="steamService.friendFilter" />
                        <button class="waves-effect waves-light btn" ng-click="steamService.GetGamesInCommon()">Find Games In Common</button>
                        <div class="col s12 m12 card dark-card hoverable valign-wrapper" ng-repeat="friend in steamService.friends | filter:{ personaname: steamService.friendFilter }|filter:{ selected: '!' + true}" style="margin-left:2px; margin-right:2px; height:50px;" title="{{friend.personaname}}">
                            <div class="col m2 s6"><img src="{{friend.avatar}}"></div>
                            <div class="col m5 s6 block-with-text ">{{friend.personaname}}</div>
                            <div class="col m5 s6">
                                <div class="switch">
                                    <label>

                                        <input type="checkbox" ng-model="friend.selected">
                                        <span class="lever"></span>

                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l9 s12 m6">
                        <div class="row">
                            <h6 style="margin-bottom:60px">Selected Friends</h6>
                            <div class="col s12 m12 l4 xl3 card dark-card hoverable valign-wrapper" ng-repeat="friend in steamService.friends | filter:{ selected: true }" style="margin-left:2px; margin-right:2px; height:50px;" title="{{friend.personaname}}">
                                <div class="col m2 s6" style="padding-left:0"><img src="{{friend.avatar}}"></div>
                                <div class="col m5 s6 truncate ">{{friend.personaname}}</div>
                                <div class="col m5 s6">
                                    <div class="switch">
                                        <label>

                                            <input type="checkbox" ng-model="friend.selected">
                                            <span class="lever"></span>

                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <h6>Games In Common {{steamService.appsInCommon.length}}</h6>
                            <div class="col s12 m6 l4 xl3" style="margin-top:5px;margin-bottom:5px;" ng-repeat="appid in steamService.appsInCommon">
                                <a href="https://store.steampowered.com/app/{{appid}}/" target="_blank"> <img src="https://steamcdn-a.akamaihd.net/steam/apps/{{appid}}/header.jpg" style="max-width:100%" /></a>

                            </div>


                        </div>
                    </div>


                </div>



            </div>


        </div>
        <div class="container" ng-show="steamService.dataLoaded ==null">

            <div class="row">
                <h6>Top Games</h6>
                @*<ul class="collection">
                        <li class="collection-item" ng-repeat="game in steamService.topGames">
                            {{game.name}}
                            <ul class="collection">
                                <li class="collection-item">{{game.developer}}</li>
                                <li class="collection-item">{{game.publisher}}</li>
                                <li class="collection-item">{{game.score_rank}}</li>
                                <li class="collection-item">{{game}}</li>
                            </ul>
                        </li>

                    </ul>*@

                <div class="col s12 m4 xl4" ng-repeat="game in steamService.topGames | orderBy: '-positive' | limitTo:10">
                    <div class="card" style="height:300px">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="https://steamcdn-a.akamaihd.net/steam/apps/{{game.appid}}/header.jpg">
                        </div>
                        <div class="card-content">

                            <div class="col s9"><p>{{game.name}}</p></div>
                            <div class="col s3"><i class="material-icons right activator">more_vert</i></div>

                        </div>
                        <div class="card-action">
                            <div class="col s4 valign-wrapper">
                                <span id="text3" style="color:lightgreen">
                                    {{game.positive}}
                                    <i class="material-icons">
                                        thumb_up
                                    </i>
                                </span>
                            </div>
                            <div class="col s4 valign-wrapper">
                                <span id="text3" style="color:darkred">
                                    {{game.negative}}
                                    <i class="material-icons">
                                        thumb_down
                                    </i>
                                </span>
                            </div>
                            <div class="col s4">
                                <i class="material-icons">
                                    attach_money
                                </i>
                            </div>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large">
            <i class="large material-icons">menu</i>
        </a>
        <ul>
            <li><a class="btn-floating " href="#search"><i class="material-icons">search</i></a></li>
            <li><a class="btn-floating blue" href="#title"><i class="material-icons">arrow_upward</i></a></li>
        </ul>
    </div>

</body>


